body
{
    background-color: rgb(97, 97, 97);
}

h2
{
    color: aliceblue;
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}