body
{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2
{
    margin-left: 10%;
    margin-top: 55%;
    color: aliceblue;
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3
{
    margin-left: 10%;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p
{
    color: white;
}

a
{
    color: aliceblue;
    text-decoration: none;
}

a:hover
{
    color: blue;
}


nav
{   
    display: flex;
    position: static;
    left: 0;
    right: 0;
    align-items: center;
    /* height: -2px; */
    /* margin-bottom: 45%; */
}

nav *
{
    margin-left: auto;
    display: inline;
    color: white;
}

nav li 
{   
    margin: 45px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.numbers
{
    color: mediumaquamarine;
}

#intro
{
    margin-left: 10%;
    margin-top: 20%;
    display: inline-block;
    text-align: left;
    color: white;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#hello
{
    font-size: 35px;
}

#front
{
    color: rgb(177, 177, 177);
}

#contact-me
{   
    position: sticky;
    padding: 1%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10%;
    display: inline-block;
    background-color: cadetblue;
    
}

#about-me
{
    margin-left: 10%;
    font-size: 24px;
}

#tech
{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 20px;
}

#tech-list
{
    display: inline-block;
    color: mediumseagreen;
    list-style-type: circle;
    margin-left: 12%;
    font-size: 25px;
    /* border: red solid 2px; */

}

#tech-list2
{
    display: inline-block;
    color: mediumseagreen;
    list-style-type: circle;
    margin-left: 20%;
    margin-bottom: 35%;
    margin-top: 4%;
    font-size: 25px;
    /* border: red solid 2px; */

}